@import url(../CSS/NullStyle.css);

.slider-container {
  position: relative;
  max-width: 1220px;
  max-height: 550px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
}

.slider {
  display: flex;
  transition: transform 0s ease-in-out;
}

.slider  img {
  width: 1220px;
  height: 550px;
}

.slide {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.prev-button,
.next-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-size: 30px;
}

.content {
  width: 100%;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 35px;
  margin: 25px 0 50px 50px;
}

.furniture__name {
  margin: 35px 0 50px -20px;
  font-size: 24px;
}

.furniture,
.aluminium,
.glass {
  margin: 30px 0 30px 50px;
}

.furniture__block,
.glass__block,
.aluminium__block {
  display: flex;
  margin-top: -30px;
  margin-left: 10px;
}

.header__tel {
  display: none;
}

.furniture__img,
.glass__img,
.aluminium__img {
  max-width: 450px;
  max-height: 450px;
}

.furniture__info,
.glass__info,
.aluminium__info {
  margin-left: 25px;
  font-size: 20px;
  margin-right: 20px;
  letter-spacing: 0.3px;
}

.glass__info > ul > li {
  padding-top: 10px;
}

.contacts {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 1200px) {
  .content {
    max-width: 1200px;
  }
  .img {
    display: block;
    margin: 0 auto;
  }
  .slider  img {
    width: 360px;
    height: 600px;
  }
  .slider-container {
    width: 360px;
    height: 600px;
  }
}

@media (max-width: 992px) {
  .content {
    max-width: 990px;
  }
}

@media (max-width: 767px) {
  .content {
    max-width: none;
  }

  .slider {
    display: block;
  }

  .desktop-image {
    display: none;
  }

  .footer__social a {
    width: 20px;
    height: 20px;
  }


  .info {
    padding-top: 10px;
    margin: 0 auto;
  }

  .header__info {
    display: none;
  }

  .furniture__block,
  .glass__block,
  .aluminium__block {
    display: block;
    margin: 0px;
  }

  .img {
    display: block;
    margin: 20px 50px 0 10px;
  }

  .furniture__img,
  .glass__img,
  .aluminium__img {
    max-width: 260px;
  }

  .furniture__name {
    margin: 0;
  }

  .furniture__info,
  .glass__info,
  .aluminium__info {
    display: block;
    margin: 20px 20px 0 -20px;
    font-size: 16px;
  }

  .info{
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  .header__tel {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
  }
  .slider  img {
    width: 300px;
    height: 500px;
  }
  .slider-container {
    width: 300px;
    height: 500px;
  }
  .info{
    margin: 0 10px;
  }
  .furniture__img,
  .glass__img,
  .aluminium__img {
    max-width: 260px;
    margin-left:-10px;
  }
  .furniture__name{
    margin: 0 20px 0 0;
  }
}
